
# Ignore any private keys or certificates
*.pem
*.key
*.crt

# Molecule artifacts for testing
.molecule/

# Python virtual environment
venv/
.env/

# Inventory files
inventory/
inventory.yml
hosts.ini
hosts.yml

# Ansible galaxy roles
roles/
collections/
!roles/requirements.yml

.vscode/
