---

#########################################################
## Hashicorp Vault PKI Secret Engine module            ##
#########################################################

#########################################################
## Get PKI Secrets engine                               ##
#########################################################

# Get Hashicorp Vault secret engine PKI
- name: get_secret_engine action...
  when: action == 'get_secret_engine'
  block:

    # Register var_result variable
    - name: Register var_result variable
      ansible.builtin.set_fact:
        var_result: "{{ var_result }}"
      no_log: true
      when: var_result is not defined

    # Clear variable var_result, be sure it is not used from a previous run.
    - name: Clear variable var_result
      ansible.builtin.set_fact:
        var_result: ""
      no_log: true

    # Validate local variables
    - name: Validate variables for Vault get_secret_engine action.
      ansible.builtin.assert:
        that: "varitem is defined"
        fail_msg: "Required variable '{{ varitem }}' has not been provided."
        quiet: true
      loop_control:
        loop_var: varitem
      loop:
        - secret_engine_name

    # Get Hashicorp Vault secret engines via API. Authenticate with vault_token.
    - name: Get Hashicorp Vault secret engines via API
      ansible.builtin.uri:
        url: "{{ vault_address }}/v1/sys/mounts"
        method: GET
        validate_certs: "{{ vault_vars.application.validate_certs | default(true) }}"
        headers:
          X-Vault-Token: "{{ vault_token }}"
      register: secret_engines_result
      run_once: true
      no_log: true

    # Find all secret engines with name secret_engine_name. use regex_findall to find all matches. Store result in var_result.
    - name: Get all Vault secret engines with name {{ secret_engine_name }}.
      ansible.builtin.set_fact:
        "{{ var_result }}" : "{{ secret_engines_result.json.data | regex_findall(secret_engine_name) }}"
      no_log: true

  # Error handling when error occured.
  rescue:

    # TODO

    # Show information message
    - name: "Information message"
      ansible.builtin.debug:
        msg: "An error occured. Cannot continue..."

#########################################################
## Create PKI Secrets engine                           ##
#########################################################

# Create Hashicorp Vault secret engine PKI
- name: Create Vault PKI secret engine
  when: action == 'create_secret_engine'
  block:

  # Validate variables
    - name: Validate variables for Vault create_secret_engine action.
      ansible.builtin.assert:
        that: "varitem is defined"
        fail_msg: "Required variable '{{ varitem }}' has not been provided."
        quiet: true
      loop_control:
        loop_var: varitem
      loop:
        - secret_engine_name
        - secret_engine_description

    # Create Hashicorp secrets engine via api. Authenticate with vault_token.
    - name: Create Hashicorp secrets engine via api
      ansible.builtin.uri:
        url: "{{ vault_address }}/v1/sys/mounts/{{ secret_engine_name }}"
        method: POST
        status_code: 204
        headers:
          X-Vault-Token: "{{ vault_token }}"
        validate_certs: "{{ vault_vars.application.validate_certs | default(true) }}"
        body_format: json
        body:
          type: pki
          description: "{{ secret_engine_description }}"
          config:
            max_lease_ttl: "87600h"
            default_lease_ttl: "87600h"

  # Error handling when error occured.
  rescue:

    # TODO

    # Show information message
    - name: "Information message"
      ansible.builtin.debug:
        msg: "An error occured. Cannot continue..."

#########################################################
## Destroy PKI Secrets engine                           ##
#########################################################

# Destroy Hashicorp Vault secret engine PKI
- name: Destroy Vault PKI secret engine
  when: action == 'destroy_secret_engine'
  block:

  # Validate local variables
    - name: Validate variables for Vault destroy_secret_engine action.
      ansible.builtin.assert:
        that: "varitem is defined"
        fail_msg: "Required variable '{{ varitem }}' has not been provided."
        quiet: true
      loop_control:
        loop_var: varitem
      loop:
        - secret_engine_name

    # Destroy Hashicorp secrets engine via api. Authenticate with vault_token.
    - name: "Destroy Hashicorp secrets engine {{ secret_engine_name }}"
      ansible.builtin.uri:
        url: "{{ vault_address }}/v1/sys/mounts/{{ secret_engine_name }}"
        method: DELETE
        validate_certs: "{{ vault_vars.application.validate_certs | default(true) }}"
        status_code: 204
        headers:
          X-Vault-Token: "{{ vault_token }}"

  # Error handling when error occured.
  rescue:

    # TODO

    # Show information message
    - name: "Information message"
      ansible.builtin.debug:
        msg: "An error occured. Cannot continue..."

#########################################################
## Post-actions                                        ##
#########################################################

# Unset variables
- name: Unset variables...
  ansible.builtin.set_fact:
    vault_result: ""
